table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    margin: auto;
}
  
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tech-images {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 1rem;
}

.tech-images-container {
    width: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 5px solid #04AA6D;
    border-radius: 1rem;
}